= simple_form_for current_user, url: calories_path, remote: true, wrapper: :inline_form, html: { class: 'form-inline js-calories-form' } do |f|
  = f.input :calories, placeholder: 'Calories Per Meal'
  = f.submit 'Submit', class: 'btn btn-success'
